@keyframes scaleUp {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

.Short-video {
  border-radius: 20px;
  margin: auto;
  height: 320px;
  width: 180px;
  display: block;
  filter: saturate(10%);
  z-index: 1;
  transition: transform 0.5s ease, filter 0.5s ease;
}

.Short-video.active {
  border-radius: 30px;
  filter: saturate(100%);
  animation: scaleUp 0.5s forwards;
  z-index: 2;
  transition: transform 0.5s ease, filter 0.5s ease;
}

@media (min-width: 760px) {
  .Short-video {
    height: 360px;
    width: 202.5px;
    border-radius: 22.5px;
  }
  .Short-video.active {
    border-radius: 33.75px;
  }
}

@media (min-width: 1025px) {
  .Short-video {
    height: 420px;
    width: 236.25px;
    border-radius: 26.25px;
  }
  .Short-video.active {
    border-radius: 39.375px;
  }
}
