.Feature-div {
  background: linear-gradient(
    135deg,
    rgba(32, 41, 64, 1) 0%,
    rgba(44, 62, 80, 1) 50%,
    rgba(58, 79, 107, 1) 100%
  );
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2), 0px 6px 20px rgba(0, 0, 0, 0.19);
  transition: transform 0.3s ease;
  padding: 0 10px;
  width: 290px;
}

.Feature-div:hover {
  transform: translateY(-5px);
}

.Feature-h1 {
  font-family: Inter;
  background: linear-gradient(
    0deg,
    rgba(153, 81, 247, 1) 0%,
    rgba(191, 145, 250, 1) 65%,
    rgba(255, 255, 255, 1) 100%
  );

  /* Clip the background to the text */
  -webkit-background-clip: text;
  background-clip: text;

  /* Make the text transparent so the background shows through */
  color: transparent;

  font-size: 18px;
  text-align: center;
}

.Feature-p {
  font-family: Inter;
  color: white;
  font-size: 14px;
  line-height: 2;
  text-align: center;
}

@media (min-width: 630px) {
  .Feature-div {
    width: 420px;
    padding: 0;
  }
  .Feature-p {
    font-size: 16px;
  }
  .Feature-h1 {
    font-size: 20px;
  }
}

@media (min-width: 760px) {
  .Feature-div {
    padding: 0 10px;
    width: 200px;
    height: 114px;
  }
  .Feature-p {
    font-size: 12px;
  }
}

@media (min-width: 1025px) {
  .Feature-div {
    padding: 0 10px;
    width: 250px;
    height: 142.5px;
  }
  .Feature-p {
    font-size: 16px;
  }
  .Feature-h1 {
    font-size: 22px;
  }
}
