.Features-div {
  border: solid black 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 0 20px;
}
@media (min-width: 630px) {
  .Features-div {
    margin-top: 50px;
    margin-bottom: 40px;
  }
}
@media (min-width: 760px) {
  .Features-div {
    flex-direction: row;
    justify-content: center;
  }
  .Features-middle {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (min-width: 1025px) {
  .Features-middle {
    margin-left: 45px;
    margin-right: 45px;
  }
}
