.Footer-div {
  /* border: solid white 1px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  height: 100px;
  /* padding-bottom: 20px; */
  background-color: black;
}

.Footer-icon-div {
  /* border: solid yellow 2px; */
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  height: 30px;
  margin-right: 10px;
}
.Footer-icon {
  color: white;
  font-size: 28px;
  margin-left: 14px;
}

.Footer-logo {
  width: 50px;
  margin-left: 10px;
  border: solid white 2px;
  border-radius: 40px;
}
@media (min-width: 670px) {
  .Footer-div {
    margin-top: -20px;
  }
}
@media (min-width: 680px) {
  .Footer-logo {
    width: 60px;
    margin-left: 30px;
  }
  .Footer-icon {
    font-size: 33.6px;
  }
  .Footer-icon-div {
    margin-right: 30px;
  }
}

@media (min-width: 760px) {
  .Footer-logo {
    width: 70px;
    margin-left: 50px;
  }
  .Footer-icon {
    font-size: 39.2px;
  }
  .Footer-icon-div {
    margin-right: 50px;
  }
}

@media (min-width: 670px) {
  .Footer-div {
    margin-top: -80px;
  }
}

@media (min-width: 1023px) {
  .Footer-div {
    margin-top: 0px;
  }
}
@media (min-width: 1025px) {
  .Footer-logo {
    width: 70px;
    margin-left: 80px;
  }
  .Footer-icon {
    font-size: 39.2px;
  }
  .Footer-icon-div {
    margin-right: 80px;
  }
}
